<%= form_for @user do |f| %>
  <div class="row">
    <div class ="col-sm-6 col-sm-offset-3">

      <h2> Your Information </h2>

        <%= f.label :gender %>
        <%= f.select :gender, ["male", "female", "other"], {}, {class: "form-control"} %>

        <%= f.label :seeking_gender %>
        <%= f.select :seeking_gender, ["male", "female", "other"], {}, {class: "form-control"} %>


      <h2> Your Preferences </h2>
    </div>
  </div>

  <div class="row">
    <div class ="col-sm-3 col-sm-offset-3">
      <h3>Eyes</h3>
        <% SwCharacter::EYES.each do |eyes| %>
          <%= f.check_box(:eyes, { :multiple => true, :class => 'form-control' }, eyes, nil) %>
          <%= f.label eyes %><span class = "glyphicon glyphicon-eye-open"></span>
        <% end %>
    </div>
  </div>

  <div class="row">
    <div class ="col-sm-6 col-sm-offset-3">
      <h3>Hair</h3>
      <% SwCharacter::HAIR.each do |hair| %>
        <%= f.check_box(:hair, { :multiple => true, :class => 'form-control' }, hair, nil) %>
        <%= f.label hair %><span class ="glyphicon glyphicon-heart-empty"></span>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class ="col-sm-6 col-sm-offset-3">
      <h3>Skin</h3>
      <% SwCharacter::SKIN.each do |skin| %>
          <%= f.check_box(:skin, { :multiple => true, :class => 'form-control' }, skin, nil) %>
          <%= f.label skin %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class ="col-sm-6 col-sm-offset-3">
      <h3>Skin</h3>
      <% SwCharacter::VEHICLE.each do |vehic| %>
          <%= f.check_box(:vehicle, { :multiple => true, :class => 'form-control' }, vehic, nil) %>
          <%= f.label vehic %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class ="col-sm-6 col-sm-offset-3">
      <h3>Skin</h3>
      <% SwCharacter::STARSHIP.each do |star| %>
          <%= f.check_box(:starship, { :multiple => true, :class => 'form-control' }, star, nil) %>
          <%= f.label star %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class ="col-sm-6 col-sm-offset-3">
      <h3>Skin</h3>
      <% SwCharacter::SPECIES.each do |spec| %>
          <%= f.check_box(:species, { :multiple => true, :class => 'form-control' }, spec, nil) %>
          <%= f.label spec %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class ="col-sm-6 col-sm-offset-3">
      <h3>Skin</h3>
      <% SwCharacter::CLASSIFICATION.each do |classif| %>
          <%= f.check_box(:species_class, { :multiple => true, :class => 'form-control' }, classif, nil) %>
          <%= f.label classif %>
      <% end %>
    </div>
  </div>

    <div class="row">
    <div class ="col-sm-6 col-sm-offset-3">
      <h3>Skin</h3>
      <% SwCharacter::LANGUAGE.each do |lang| %>
          <%= f.check_box(:language, { :multiple => true, :class => 'form-control' }, lang, nil) %>
          <%= f.label lang %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class ="col-sm-6 col-sm-offset-3">
      <%= f.label :lifespan %>
      <%= f.select :lifespan, ["Die Quick", "Average", "Live Long"], {}, {class: "form-control"} %>
    </div>
  </div>

  <div class="row">
    <div class ="col-sm-6 col-sm-offset-3">
      <%= f.label :height %>
      <%= f.select :height, ["Short", "Average", "Tall"], {}, {class: "form-control"} %>
    </div>
  </div>

  <div class="row">
    <div class ="col-sm-6 col-sm-offset-3">
      <%= f.label :mass %>
      <%= f.select :mass, ["Hefty", "Slim", "Average"], {}, {class: "form-control"} %>
    </div>
  </div>



  <div class="row">
    <div class ="col-sm-6 col-sm-offset-3">
      <%= f.submit "Create", :class => "btn btn-success" %>
    </div>
  </div>

<% end %>
