<%= form_for @user do |f| %>
  <div class="row">
    <div class ="col-sm-6 col-sm-offset-3">

      <h2> Your Information </h2>

        <%= f.label :gender %>
        <%= f.select :gender, ["male", "female", "other"], {}, {class: "form-control"} %>

        <%= f.label :seeking_gender %>
        <%= f.select :seeking_gender, ["male", "female", "other"], {}, {class: "form-control"} %>


      <h2> Your Preferences </h2>
    </div>
  </div>

  <div class="row">
    <div class ="col-sm-6 col-sm-offset-3">
      <h3>Eyes</h3>
      <div class = "btn-group">
        <% SwCharacter::EYES.each do |eyes| %>
            <label class="radio-inline">
            <%= f.radio_button :eyes, eyes, {class: "form-control"} %><%= eyes %></label>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class ="col-sm-6 col-sm-offset-3">
      <h3>Hair</h3>
      <div class="btn-group">
      <% SwCharacter::HAIR.each do |hair| %>
            <label class="radio-inline">
            <%= f.radio_button :hair, hair, {class: "form-control"} %><%= hair %></label>
      <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class ="col-sm-6 col-sm-offset-3">
      <h3>Skin</h3>
      <div class="btn-group">
      <% SwCharacter::SKIN.each do |skin| %>
            <label class="radio-inline">
            <%= f.radio_button :skin, skin, {class: "form-control"} %><%= skin %></label>
      <% end %>
    </div>
    </div>
  </div>

  <div class="row">
    <div class ="col-sm-6 col-sm-offset-3">
      <h3>Vehicle</h3>
      <div class="btn-group">
      <% SwCharacter::VEHICLE.each do |vehic| %>
            <label class="radio-inline">
          <%= f.radio_button :vehicle, vehic, {class: "form-control"} %><%= vehic %></label>
      <% end %>
    </div>
    </div>
  </div>

  <div class="row">
    <div class ="col-sm-6 col-sm-offset-3">
      <h3>Starship</h3>
      <div class="btn-group">
      <% SwCharacter::STARSHIP.each do |star| %>
            <label class="radio-inline">
          <%= f.radio_button :starship, star, {class: "form-control"} %><%= star %></label>
      <% end %>
    </div>
    </div>
  </div>

  <div class="row">
    <div class ="col-sm-6 col-sm-offset-3">
      <h3>Species</h3>
      <div class="btn-group">
      <% SwCharacter::SPECIES.each do |spec| %>
            <label class="radio-inline">
            <%= f.radio_button :species, spec, {class: "form-control"} %><%= spec %></label>
      <% end %>
    </div>
    </div>
  </div>

  <div class="row">
    <div class ="col-sm-6 col-sm-offset-3">
      <h3>Classification</h3>
      <div class="btn-group">
      <% SwCharacter::CLASSIFICATION.each do |classif| %>
            <label class="radio-inline">
            <%= f.radio_button :species_class, classif, {class: "form-control"} %><%= classif %></label>
      <% end %>
    </div>
    </div>
  </div>

    <div class="row">
    <div class ="col-sm-6 col-sm-offset-3">
      <h3>Language</h3>
      <div class="btn-group">
      <% SwCharacter::LANGUAGE.each do |lang| %>
            <label class="radio-inline">
            <%= f.radio_button :language, lang, {class: "form-control"} %><%= lang %></label>
      <% end %>
    </div>
    </div>
  </div>

  <div class="row">
    <div class ="col-sm-6 col-sm-offset-3">
      <%= f.label :lifespan %>
      <%= f.select :lifespan, ["Die Quick", "Average", "Live Long"], {}, {class: "form-control"} %>
    </div>
  </div>

  <div class="row">
    <div class ="col-sm-6 col-sm-offset-3">
      <%= f.label :height %>
      <%= f.select :height, ["Short", "Average", "Tall"], {}, {class: "form-control"} %>
    </div>
  </div>

  <div class="row">
    <div class ="col-sm-6 col-sm-offset-3">
      <%= f.label :mass %>
      <%= f.select :mass, ["Hefty", "Slim", "Average"], {}, {class: "form-control"} %>
    </div>
  </div>



  <div class="row">
    <div class ="col-sm-6 col-sm-offset-3">
      <%= f.submit "Create", :class => "btn btn-success" %>
    </div>
  </div>

<% end %>