<%= form_for @user do |f| %>
  <div class="row">
    <div class ="col-sm-6 col-sm-offset-3">

      <h2> Your Information </h2>

        <%= f.label :gender %>
        <%= f.select :gender, ["male", "female", "other"], {}, {class: "form-control"} %>

        <%= f.label :seeking_gender %>
        <%= f.select :seeking_gender, ["male", "female", "other"], {}, {class: "form-control"} %>


      <h2> Your Preferences </h2>
    </div>
  </div>

  <div class="row">
    <div class ="col-sm-3 col-sm-offset-3">
      <h3>Eyes</h3>
      <div class = "btn-group">
        <% SwCharacter::EYES.each do |eyes| %>
            <label class="radio-inline">
            <%= f.radio_button :eyes, eyes, {class: "form-control"} %><%= eyes %></label>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class ="col-sm-6 col-sm-offset-3">
      <h3>Hair</h3>
      <% SwCharacter::HAIR.each do |hair| %>
            <%= f.label :hair, hair, :value => hair %><br>
            <%= f.radio_button :hair, hair, {class: "form-control"} %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class ="col-sm-6 col-sm-offset-3">
      <h3>Skin</h3>
      <% SwCharacter::SKIN.each do |skin| %>
            <%= f.label :skin, skin, :value => skin %><br>
            <%= f.radio_button :skin, skin, {class: "form-control"} %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class ="col-sm-6 col-sm-offset-3">
      <h3>Vehicle</h3>
      <% SwCharacter::VEHICLE.each do |vehic| %>
          <%= f.label :vehicle, vehic, :value => vehic %><br>
          <%= f.radio_button :vehicle, vehic, {class: "form-control"} %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class ="col-sm-6 col-sm-offset-3">
      <h3>Starship</h3>
      <% SwCharacter::STARSHIP.each do |star| %>
          <%= f.label :starship, star, :value => star %><br>
          <%= f.radio_button :starship, star, {class: "form-control"} %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class ="col-sm-6 col-sm-offset-3">
      <h3>Species</h3>
      <% SwCharacter::SPECIES.each do |spec| %>
            <%= f.label :species, spec, :value => spec %><br>
            <%= f.radio_button :species, spec, {class: "form-control"} %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class ="col-sm-6 col-sm-offset-3">
      <h3>Classification</h3>
      <% SwCharacter::CLASSIFICATION.each do |classif| %>
            <%= f.label :species_class, classif, :value => classif %><br>
            <%= f.radio_button :species_class, classif, {class: "form-control"} %>
      <% end %>
    </div>
  </div>

    <div class="row">
    <div class ="col-sm-6 col-sm-offset-3">
      <h3>Language</h3>
      <% SwCharacter::LANGUAGE.each do |lang| %>
            <%= f.label :language, lang, :value => lang %><br>
            <%= f.radio_button :language, lang, {class: "form-control"} %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class ="col-sm-6 col-sm-offset-3">
      <%= f.label :lifespan %>
      <%= f.select :lifespan, ["Die Quick", "Average", "Live Long"], {}, {class: "form-control"} %>
    </div>
  </div>

  <div class="row">
    <div class ="col-sm-6 col-sm-offset-3">
      <%= f.label :height %>
      <%= f.select :height, ["Short", "Average", "Tall"], {}, {class: "form-control"} %>
    </div>
  </div>

  <div class="row">
    <div class ="col-sm-6 col-sm-offset-3">
      <%= f.label :mass %>
      <%= f.select :mass, ["Hefty", "Slim", "Average"], {}, {class: "form-control"} %>
    </div>
  </div>



  <div class="row">
    <div class ="col-sm-6 col-sm-offset-3">
      <%= f.submit "Create", :class => "btn btn-success" %>
    </div>
  </div>

<% end %>