      <%= form_for user do |f| %>

      <h1> Your Information </h1>

        <%= f.label :gender %>
        <%= f.select :gender, ["male", "female", "other"], {}, {class: "form-control"} %>

        <%= f.label :seeking_gender %>
        <%= f.select :seeking_gender, ["male", "female", "other"] %>

        <%= f.label :age %>
        <%= f.text_field :age %>

      <h1> Your Preferences </h1>

        
        <% SwCharacter::Species.each do |spec| %>
          <%= f.label :spec %>
          <%= f.check_box(:species, { :multiple => true }, spec, nil) %>
        <% end %>

        <% SwCharacter::Species_class.each do |clas| %>
          <%= f.label :clas %>
          <%= f.check_box(:species_class, { :multiple => true }, clas, nil) %>
        <% end %>

        <%= f.label :lifespan %>
        <%= f.select :lifespan, ["Human", "Less Than Human", "Yoda-like"] %>

        <% SwCharacter::Eyes.each do |eye| %>
          <%= f.label :eye %>
          <%= f.check_box(:eye_color, { :multiple => true }, eye, nil) %>
        <% end %>

        <% SwCharacter::Hairs.each do |hair| %>
          <%= f.label :hair %>
          <%= f.check_box(:hair_color, { :multiple => true }, hair, nil) %>
        <% end %>

        <% SwCharacter::Skins.each do |skin| %>
          <%= f.label :skin %>
          <%= f.check_box(:skin_color, { :multiple => true }, skin, nil) %>
        <% end %>

        <%= f.label :height %>
        <%= f.select :height, ["Taller Than Me", "Shorter Than Me", "Similar Height"] %>

        <%= f.label :mass %>
        <%= f.select :mass, ["Heftier Than Me", "Slimmer Than Me", "Similar Mass"] %>

        <%= f.label :seeking_age %>
        <%= f.select :seeking_age, ["Older Than Me", "Younger Than Me", "Similar Mass", "Spooky Ghost"] %>

        <h1> What Languages Do You Speak Or Want To Learn? </h1>

        <% User::Languages.each do |lang| %>
          <%= f.label :lang %>
          <%= f.check_box(:languages, { :multiple => true }, lang, nil) %>
        <% end %>


        <h1> What Vehicles Are You Licensed To Drive? </h1>

        <% User::Vehicles.each do |vehic| %>
          <%= f.label :vehic %>
          <%= f.check_box(:vehicles, { :multiple => true }, vehic, nil) %>
        <% end %> 

        <% User::Starships.each do |star| %>
          <%= f.label :star %>
          <%= f.check_box(:starships, { :multiple => true }, star, nil) %>
        <% end %> 

        <%= f.submit "Create", :class => "btn btn-success" %>

      <% end %>