<!DOCTYPE html>
<html>
  <head>
    <title>WookieeDate</title>
    <%= javascript_include_tag "highcharts/js/highcharts.js", "chartkick" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">WookieeDate</a>
        </div>
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-xs-12"
          <%= yield %>
        </div>
      </div>
    <div>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
      </div>
    </nav>

  </body>
</html>
